<?xml version="1.0"?>
<ruleset name="Laravel API Starting Package ruleset">
	<description>Ruleset for the Laravel API Starting Package project.</description>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/public/*</exclude-pattern>
	<!-- We need to temporarily exclude enums from checking
		because the sniffs throwing lots of false positives. -->
	<exclude-pattern>./app/Enums/*</exclude-pattern>

	<file>./app</file>
	<file>./config</file>
	<file>./resources</file>
	<file>./routes</file>
	<file>./tests</file>

	<!-- Additional arguments. -->
	<arg value="sp" />
	<arg name="cache" />
	<arg name="basepath" value="." />
	<arg name="parallel" value="8" />
	<arg name="extensions" value="php" />

	<!-- Apply PSR12 coding standards across the repo. -->
	<rule ref="PSR12">
		<exclude name="PSR12.Traits.UseDeclaration.MultipleImport" />
	</rule>

	<!-- Exclude rule forbidding content after opened bracket. -->
	<rule ref="PSR2.Methods.FunctionCallSignature">
		<exclude name="PSR2.Methods.FunctionCallSignature.ContentAfterOpenBracket" />
	</rule>

	<!-- Check for PHP cross-version compatibility. -->
	<config name="testVersion" value="8.1-" />
	<rule ref="PHPCompatibility" />

	<!-- Allow more than 120 characters per line. -->
	<rule ref="Generic.Files.LineLength">
		<properties>
			<property name="lineLimit" value="180" />
			<property name="ignoreComments" value="true" />
		</properties>
	</rule>

	<!-- Tabs should represent 4 spaces. -->
	<arg name="tab-width" value="4" />

	<!-- Indent using tabs. -->
	<rule ref="Generic.WhiteSpace">
		<exclude name="Generic.WhiteSpace.DisallowTabIndent.TabsUsed" />
	</rule>
	<rule ref="Generic.WhiteSpace.DisallowSpaceIndent" />
	<rule ref="Generic.WhiteSpace.ScopeIndent">
		<properties>
			<property name="tabIndent" value="true" />
		</properties>
	</rule>

	<rule ref="PHPCompatibility.FunctionDeclarations.NewClosure">
		<exclude-pattern>./tests/*</exclude-pattern>
		<exclude-pattern>./routes/console.php</exclude-pattern>
	</rule>

	<rule ref="Squiz.WhiteSpace.ScopeClosingBrace">
		<exclude-pattern>./tests/*</exclude-pattern>
	</rule>

	<rule ref="Internal.NoCodeFound">
		<exclude-pattern>./resources/views/*</exclude-pattern>
	</rule>

	<rule ref="PSR1.Files.SideEffects.FoundWithSymbols">
		<exclude-pattern>./tests/Pest.php</exclude-pattern>
	</rule>
</ruleset>
